<component name="ArtifactManager">
  <artifact type="jar" name="Plugin">
    <output-path>$PROJECT_DIR$/out/artifacts/Plugin</output-path>
    <root id="archive" name="Plugin.jar">
      <element id="module-output" name="Plugin" />
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/Plugin/META-INF/MANIFEST.MF" />
      </element>
    </root>
  </artifact>
</component>